*.o
*.d
tests/*.ok
tests/containerof
tests/list_add
tests/list_add_tail
tests/list_cut_position
tests/list_del
tests/list_del_init
tests/list_entry
tests/list_first_entry
tests/list_for_each
tests/list_for_each_entry
tests/list_for_each_entry_safe
tests/list_for_each_safe
tests/list_init-explicit
tests/list_init-global
tests/list_init-local
tests/list_is_singular
tests/list_last_entry
tests/list_move
tests/list_move_tail
tests/list_splice
tests/list_splice_init
tests/list_splice_tail
tests/list_splice_tail_init
